
.git/
.vscode/
node_modules/


*.log
*.tmp
*.swp
.DS_Store
Thumbs.db


.gitignore
.vscodeignore


README.md
CHANGELOG.md
LICENSE


**/*.test.*
tests/
__tests__/


tsconfig.json
tslint.json
.eslintrc.js
.prettierrc
.prettierignore
jest.config.js
